<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>세탁신청하기</title>
</head>
<body>
    <h1>세탁신청하기</h1>

    <h2>판매상품</h2>
    <p>
        <% for (var i = 0; i < cartRes.length; i++) { %>

                <P><%= cartRes[i].PRODUCT_ID %></P>
                <P><%= cartRes[i].PRODUCT_QUANTITIY %></P>
        <% } %>
    </p>
    
    <form id="orderForm" method="POST" action="complete">
            <h4>[날짜]</h4>
            <input type="textbox" name = "date">
            <h4>[요청사항]</h4>
            <input type="textbox"  name = "request">
            <h4>[주소]</h4>
            <input type="textbox"  name = "address">
        <br>
        <br>
        <button type="submit">주문완료</button>
    </form>

    

</body>
</html>