<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>
</head>
<body>
    <h1>장바구니</h1>

    <h2>판매상품</h2>
    <p>
        <% for (var i = 0; i < cartRes.length; i++) { %>

                <P><%= cartRes[i].PRODUCT_ID %></P>
                <P><%= cartRes[i].PRODUCT_QUANTITIY %></P>
        <% } %>
    </p>


</body>
</html>