<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link script = ""> 
    <title>Document</title>
</head>
<body>
  <form action="/laundry/search" method="get"> 
    <input name='search' type="text" placeholder="검색">
    <input  type='submit' value='검색하기'>
</form>
    <h1>주변세탁소</h1>
    <ul>
        <% for(let i=0; i<laundryListRes.length; i++) { %>
            <li>
                <h2><%= laundryListRes[i].S_NAME %></h2>
                <p><%= laundryListRes[i].S_ADDR2 %></p>
                <p><%= laundryListRes[i].S_PHONE %></p>
                <a href="/laundry/detail/<%= laundryListRes[i].S_ID %>">신청하기</a>
            </li>
        <% } %>
    </ul>


</body>
</html>