<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    여기는 내세탁소입니다 backend테스트용

    <a href="/laundry/productAdmin">상품관리</a>
    <a href="/laundry/laundryAdmin">세탁소관리</a>
    <a href="/laundry/reviewAdmin">리뷰관리</a>
</body>
</html>