<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    mypage backend테스트용
    <br>
    <a href="/myPage/profileEdit">프로필 편집</a>
    <a href="/favoriteList">하트 눌러놓은 매장</a>
    <a href="/customerService">고객센터</a>
    <a href="/userManagement">회원탈퇴/로그아웃</a>
</body>
</html>
